.header-shadow {
    box-shadow: 0px 2px 4px #00000029 !important;
}
body h2{
    color: #578FE1;
    font-size: 28px;
    font-family: Segoe UI;
}
body p, body strong{
    font-family: Segoe UI;
}

@media screen and (max-width: 575px){
    .section-tag .container{
        padding-right:0px;
    }
    .post-tabs .menu-tab{
       width: 100% !important;
        padding-left:15px;
        padding-right:15px;
    }

    .post-tabs .news{
        width: 100% !important;
        padding-left:15px !important;
        padding-right:15px;
    }
    .hethongdsieuthi2 hr{
        margin-left:15px;
        margin-right: 0 !important;
    }

    .menuright{
        padding-left:30px;
    }
    .section-hethongdieuthi2 .hethongdsieuthi2 .right{
        padding-right: 15px;
        padding-left:15px !important;
    }
    .section-gioithieunewsun .row{
        margin-left:0;
        margin-right:0;
    }

    .gtns .container{
        padding-left: 0;
        padding-right: 0;
    }
    .gtns .container .col-md-12{
        padding-left: 0;
        padding-right: 0;
    }
    .gtns .item-comment{
        padding-left: 0;
        padding-right: 0;
    }
    .gtns .item-comment .itemcmt, .section-comment .item-comment .itemcmt{
        padding-right: 0;
        padding-left:0;
    }
    .section-hethongdieuthi2 .hethongdsieuthi2 .right-slogan{
        padding-right:0;
        padding-left:15px !important;
    }
    .section-huongdanmuahang .left .button{
        padding-left:0;
        padding-right:0;
    }
    .section-huongdanmuahang .menu-right{
        padding-left:15px;
    }
    .section-huongdanmuahang hr{
        margin-left:15px;
        margin-right:15px;
    }
    .section-form h2{
        padding-top:15px;
    }
    .blogpost .container{
        padding-left:0;
        padding-right:0;
    }
    .menurightresponsive {
        padding-left:0 !important;
        padding-right:0 !important;
    }
    .section-tag-reponsive .container{
        padding-right:15px;
    }
    .section-comment-reponsive{
        padding-left:15px;
        padding-right:15px;
    }
    .blogpost-reponsive{
        padding-left:15px;
    }

}

/* CHỈNH SỬA CSS BẢN WEBSITE */

.ns-breadcrumb li{
    font-size: 14px;
}
.ns-breadcrumb li:before{
    width: 6px !important;
    height:6px !important;
}
.location-template-default .section-tag .row{
    padding-left:15px;
    padding-right:15px;
}

.section-gioithieunewsun p b{
    color:#ED1C24;
}
#formcmmaxweb input#submit:hover {
    background: #4094dc;
}
.section-form input::placeholder{
    color:#141414;
}

.breadcrumb .breadcrumb-item{
    position: relative;
    margin-left:20px;
}
/* tag */
.section-tag .items-tags .tag{
    padding-left: 5px;
    padding-right: 5px;
    background-color: #EFEFEF 0% 0% no-repeat padding-box;
    text-align: center;
}
.list-news .h-news .hash-tags .h-tag{
    display: inline-block;
    text-align: center;
}
.section-gioithieunewsun .container{
    padding-left:0;
    padding-right:0;
}
.hethongdsieuthi2 .right .hethong-items p:first-child{
    margin-bottom: 0;
}
.hethongdsieuthi2 .right .info-items .w-100{
    display: none;
}
.hethongdsieuthi2 .right .info-items p span{
   color: #578FE1 !important;
}

/**/
.section-hethongdieuthi2 .left{
    padding-left:0 !important;
}
.section-hethongdieuthi2 .left .container hr{
    display: none !important;
}
.hethongdsieuthi2 .hr{
    margin-left:0 !important;
    margin-right: 0px !important;
}
.htstdm1 .right .info-items{
    overflow-y: scroll;
    overflow-x: hidden;
}


@media screen and (max-width: 575px){
    /* responsive he thong sieu thi 2 */
    .hethongdsieuthi2 .box-slogan .iblock{
        display: inline-block !important;
    }
    .section-hethongdieuthi2 .left .text-lg-left, .section-hethongdieuthi2 .hethongdsieuthi2 .right .hethong-items, .section-hethongdieuthi2 .hethongdsieuthi2 .right .info-items, .section-hethongdieuthi2 .hethongdsieuthi2 .right .content-box{
        padding-right:30px;
    }
    .section-tag .row{
        padding-right: 15px;
        padding-left: 15px;
    }
    /* responsive gioi thieu newsun */
    /* bo dong 44 - 47 */
    .section-form form{
        padding-right: 15px;
        padding-left: 15px;
    }
    #comments{
        padding-right: 15px;
        padding-left: 15px;
    }
    .post-tabs .news .fig-picture img{
        max-width: 100%;
    }
    .blogpost-reponsive{
        padding-right: 15px;
    }




}

















