:root {
    --bg-color: #F8F8F8;
    --bg-img: url(../assets/product_group.png);
    --bg-navbar-color: #578FE1;
    --bg-navbar-color-2: #4788e9;
    --bg-nav: #EFF6FF;
    --search-lg-input-w: 430px;
    --search-md-input-w: 250px;
    --font-size-bigger: 18px;
    --font-size-big: 16px;
    --font-size: 14px;
    --font-size-small: 12px;
    --font-size-10px: 10px;
    --font-size-smaller: 9px;
    --menu-item-color: #F8D43A;
    --text-color: #1b1b1b;
    --discount-status-color: #ED1C24;
    --bg-keyword-color: #EFEFEF;
    --bg-footer-2: #EFEFEF;
    --text-color: #1E1E1E;
    --text-color-2: #141414;
    --text-secondary-2: #D1D1D1;
    --text-danger-2: rgba(237, 28, 36, 1);
    --btn-color: #0547A8;
    --btn-color-2: #0547A8;
}

.text-blue-2 {
    color: var(--bg-navbar-color) !important;
}

.text-dark-2 {
    color: var(--text-color-2) !important;
    text-decoration: none !important;
}

.bg-grey {
    background-color: var(--bg-color);
}

.bg-nav {
    background-color: var(--bg-nav);
}

.bg-blue {
    background-color: var(--bg-navbar-color-2) !important;
}

.font-10 {
    font-size: 10px !important;
}

.font-12 {
    font-size: var(--font-size-small) !important;
}

.font-14 {
    font-size: var(--font-size) !important;
}

.font-18 {
    font-size: var(--font-size-bigger) !important;
}

.font-21 {
    font-size: 21px;
}

.line-1, .line-1 > p, .line-1 > h2, .line-1 > h3, .line-1 > h4, .line-1 > h5, .line-1 > h6 {
    display: -webkit-box;
    -webkit-line-clamp: 1 !important;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-2 > p, .line-2 > h2, .line-2 > h3, .line-2 > h4, .line-2 > h5, .line-2 > h6 {
    display: -webkit-box;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-3 > p, .line-3 > h2, .line-3 > h3, .line-3 > h4, .line-3 > h5, .line-3 > h6 {
    display: -webkit-box;
    -webkit-line-clamp: 3 !important;
    -webkit-box-orient: vertical;
    overflow: hidden;
}