.hethongdsieuthi2 .box-slogan .title-slogan,
.hethongdsieuthi2 .box-slogan .image {
    float: left;
    text-align: center;
}

.hethongdsieuthi2 .box-slogan .image {
    top: -1rem;
}

.hethongdsieuthi2 .box-slogan .image:first-child {
    padding-left: 0;
}

.hethongdsieuthi2 .box-slogan .image:last-child {
    padding-right: 0;
}



.hethongdsieuthi2 .right-slogan .content-box {
    padding: 15px;
}

.hethongdsieuthi2 .box-slogan {
    border: 1px solid #2e319242;
    border-radius: 3px;
    padding: 1.5rem 0;
}

.hethongdsieuthi2 .box-slogan .iblock {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 1rem;
}

.hethongdsieuthi2 .box-slogan .iblock:last-child {
    margin-bottom: 0;
}

.hethongdsieuthi2 .box-slogan .iblock .img,
.hethongdsieuthi2 .box-slogan .iblock .text {
    float: left;
}

.hethongdsieuthi2 .box-slogan .iblock .img {
    height: 35px;
    width: 35px;
}

.hethongdsieuthi2 .box-slogan .iblock .img img{
    height: auto;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.hethongdsieuthi2 .box-slogan .iblock .text {
    margin: 0;
    margin-left: 1rem;
}

.hethongdsieuthi2 .box-slogan .title-slogan h2 {
    font-size: 20px;
    font-weight: bold;
}

.hethongdsieuthi2 .box-slogan .image img {
    width: 25px;
}

.hethongdsieuthi2 .left p i {
    color: #578FE1;
    margin-right: 5px;
}

.hethongdsieuthi2 h3 {
    font-size: 18px;
    font-weight: 700;
}

.hethongdsieuthi2 p {
    font-size: 14px;
}

.hethongdsieuthi2 .right .hethong-items i {
    font-size: 13px;
    float: right;
    color: white;
    padding-top: 5px;
}

.hethongdsieuthi2 .right .hethong-items p {
    color: #fff;
    padding: 15px;
    background-color: #578fe1;

}

.hethongdsieuthi2 .right .info-items {
    display: none;
    display: inline-block;
    padding-top: 1rem;
}

.hethongdsieuthi2 .right .info-items p:nth-child(5) {
    padding: 5px;
    background-color: #EFF6FF;
    border-radius: 3px;
}

.hethongdsieuthi2 .right .info-items p:nth-child(3) {
    padding: 5px;
    background-color: #EFF6FF;
    border-radius: 3px;
}

.hethongdsieuthi2 .right .info-items b {
    color: red;
}

.hethongdsieuthi2 .maps-newsun {
    margin-bottom: 25px;
}

.hethongdsieuthi2 hr {
    margin-left: 15px;
    margin-right: 15px;
}

.htstdm1 .right .info-items {
    border: 1px solid #578fe1;
    overflow: scroll;
    height: 473px;
}

.htstdm1 .right .info-items i {
    color: #578fe1;
    font-size: 18px;
}

.htstdm1 .right {
    padding-left: 15px;
}

.htstdm1 .right .info-items .img,
.htstdm1 .right .info-items .content-box {
    float: left;
    margin-bottom: 15px;
}

.section-hethongdieuthi2 .htstdm1 .right .info-items p {
    margin-bottom: 0px;
    font-size: 13px;
    background-color: #fff;
}

.htstdm1 .right .hethong-items p {
    margin-bottom: 0px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-left: 30px;
}

.htstdm1 .right .info-items .content-box p {
    padding: 0;
}

.htstdm1 .right .info-items .content-box a{
    color:black;
}

.htstdm1 .right .info-items .content-box a:hover {
    color: #578fe1;
    /* transition: 0.3s;*/
    text-decoration: none;
}

.htstdm1 .right .info-items::-webkit-scrollbar {
    width: 6px;
}

.htstdm1 .right .info-items::-webkit-scrollbar-track {
    background: var(--bg-color);
}

.htstdm1 .right .info-items::-webkit-scrollbar-thumb {
    background: var(--bg-navbar-color);
}

.htstdm1 .right .info-items::-webkit-scrollbar-thumb:hover {
    background: var(--bg-navbar-color-2);
    cursor: all-scroll;
}